<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Word Game</title>
</head>
<body>
    <h1>Welcome to my version of WordGame</h1>
    <p>Here are the rules:</p>
    <ul>
        <li>You need to enter at least 7 words with a total of 4 or more letters.</li>
        <li>You cannot use any illegal characters.</li>
        <li>You cannot use the SourceWord given as an answer.</li>
        <li>You have to use the letters provided in the SourceWord.</li>
        <li>No duplicate words are allowed.</li>
        <li>Use a SPACE when typing the next word.</li>
    </ul>
    <a href="/game"><button>Start Game</button></a>
    <a href="/leaderboard"><button>View Leaderboard</button></a>
</body>
</html>
